* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background: linear-gradient(#6af58e, #55f9ff);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  background: linear-gradient(rgba(124, 95, 174, 0.78), rgba(104, 148, 243, 0.78));
  padding: 1rem;
  border-radius: 1rem;
  color: #dcdada;
  &-step {
    position: absolute;
    top: 5vh;
    right: 3vmin;
    background: linear-gradient(#84d0d7, rgba(172, 104, 243, 0.78));
    padding: 7px 10px;
    border-radius: 1rem;
    font-size: calc(3vmin + 8px);
  }
  &-board {
    display: flex;
    flex-wrap: wrap;
    width: clamp(210px, 60vmin, 600px);
    height: clamp(210px, 60vmin, 600px);
    border-radius: 7px;
    overflow: hidden;
    &__cell {
      width: clamp(70px, 20vmin, 200px);
      height: clamp(70px, 20vmin, 200px);
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(#84d0d7, rgba(172, 104, 243, 0.78));
      border: 1px solid #fff;
      font-size: calc(10vmin + 12px);
    }
  }
  &__divider {
    background: #ffffff;
    margin: 1rem 0;
  }
  &__reset {
    background: linear-gradient(#84d0d7, rgba(172, 104, 243, 0.78));
    outline: none;
    padding: 7px 10px;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.56);
    transition: all linear 0.2s;
    cursor: pointer;
    font-size: calc(2vmin + 8px);
    &:hover {
      box-shadow: 0 0 15px #ffffff;
    }
    &:active {
      box-shadow: 0 0 5px #ffffff;
    }
  }
}